<div class="table-responsive-lg">
  <table class="table">
    <thead>
    <tr>
      <th scope="col", class="text-center">#</th>
      <th scope="col", class="text-center">Task</th>
      <th scope="col", class="text-center">Due Date</th>
      <th scope="col", class="text-center">Priority</th>
      <th scope="col", class="text-center">Completed</th>
      <th scope="col", class="text-center">Actions</th>
    </tr>
    </thead>

    <% @entries.each_with_index do |entry, index| %>
      <tbody>
      <tr class="text-center">
        <th scope="row"><%= index + 1 %></th>
        <td><%= entry.text %></td>
        <td><%= entry.duedate.strftime("%B %d, %Y, %H:%M") %></td>
        <td><%= entry.priority %></td>
        <td><%= "✓" if entry.completed %></td>
        <td>
          <%= link_to 'Edit', edit_entry_path(entry), class: "btn btn-info buffer-right" %>
          <%= link_to 'Destroy', entry, method: :delete, data: {confirm: 'Are you sure you want to delete this task?'},
                      class: "btn btn-danger buffer-left buffer-right" %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>
