<%= form_for(@entry) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @entry} %>

  <div class="form-group">
    <%= f.label :task %>
    <%= f.text_area :text, class: 'form-control', placeholder: @entry.text %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %>
    <p><%= f.text_field :duedate, id: 'flatpickr-input', class: 'form-control',
                        placeholder: @entry.duedate %></p>
  </div>

  <div class="form-group">
    <%= f.label :priority %>
    <%= f.select(:priority, options_for_select(
        [1, 2, 3], 1 ),
                  class: 'form-control custom-select custom-select-lg mb-3') %>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= f.check_box :completed %>
      <%= f.label :completed, "Completed" %><br>
    </div>
  </div>

  <div class="actions buffer-bottom">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    or <%= link_to 'return', :back %>
  </div>
<% end %>

